blockquote {
  margin: 0;
}
cite {
  border-top: 1px dashed #ffa500;
  display: block;
  font-style: normal;
  padding-top: 10px;
  text-align: right;
}
h1 {
  background-color: orange;
  color: #000000;
  font-weight: 700;
  margin: 0px;
  padding: 2px;
}
#author {
  font-weight: bold;
}
#buttons {
  background-color: #000000;
  border-radius: 3px;
  float: right;
  height: 100%;
}
#buttons a {
  background-color: #ffffff;
  border: 3px solid #000000;
  border-radius: 10px;
  color: #000000;
  display: inline-block;
  margin: 5px;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  width: 100px;
}
#computer {
  margin: 0px auto;
  width: 680px;
}
#computer-case {
  background-color: #f5f5dc;
  border: medium none #f5f5dc;
  border-radius: 10px;
  color: #000000;
  height: 76px;
  margin-top: 5px;
  padding: 20px;
}
#monitor {
  background-color: #000000;
  border: 20px solid #f5f5dc;
  border-radius: 5px;
  color: orange;
  font-family: "Source Code Pro";
  font-size: 20px;
  height:445px;
  padding: 20px;
}
#floppy {
  background-color: #000000;
  border-right: 5px solid #1ae41a;
  height: 5px;
  margin: 20px;
  padding-right: 5px;
  width: 150px;
}
.long-quote {
  font-size: 17px;
}
